<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}tela principal{% endblock %}</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/registrar/">Registrar</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </nav>
    </header>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>

</body>
</html>