{% extends "base.html" %}

{% block title %}Página principal{% endblock %}

{% block content %}
    <div>
        <h2>Página placeholder pra não dar erro no cadastro</h2>
        <a href="{% url 'registrar' %}">voltar para o cadastro</a>
        <br>
        <a href="{% url 'login_supervisor' %}">voltar para o login</a>
        <br>
        <a href="{% url 'registrar_jogos' %}">voltar para o cadastro de jogos</a>
        <br>
        <a href="{% url 'registrar_acessorios' %}">voltar para o cadastro de acessorios</a>
        <br>
        <a href="{% url 'sfc' %}">voltar para a página do sfc</a>
        <br>
        <a href="{% url 'wii' %}">voltar para a página do wii</a>
        <br>
        <a href="{% url 'ps2' %}">voltar para a página do ps2</a>
        <br>
        <a href="{% url '3ds' %}">voltar para a página do 3ds</a>
    </div>
{% endblock %}