{% extends 'base.html' %}

{% block title %}Registrar Jogo{% endblock %}

{% block content %}
<h2>Registrar Novo Jogo</h2>

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        <div style="margin-bottom: 15px;">
            <label>{{ field.label }}:</label><br>
            {{ field }}
            
            {% if field.errors %}
                <div> {{ field.errors }} </div>
            {% endif %}
            
            {% if field.help_text %}
                <small>{{ field.help_text }}</small>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Registrar Jogo</button>
</form>
{% endblock %}